.form-control {
    border-radius: 3px !important;
}

.ic-product-list-image {
    height: 100px;
    width: 100px;
    border: 1px solid gray;
}

/*...............SWEET ALERT...............*/
.swal2-popup .swal2-styled.swal2-cancel {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #aaa;
    color: #fff;
    font-size: 14px;
}

.swal2-popup .swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #3085d6;
    color: #fff;
    font-size: 14px;
}

/*...............SWEET ALERT END...............*/

.required {
    color: #ec4561;
}

.ic-main-color {
    color: #28aaa9 !important;
}

/*...............SORTABLE MENU...............*/
.sortable-menu-list {
    margin: 2px;
    padding: 5px;
}

.sortable-menu-action {
    position: absolute;
    right: 20px;
}

/*...............END SORTABLE MENU...............*/

/*...............PAGE MODULE...............*/
.ic-page-module-header {
    cursor: pointer;
}

/*...............END PAGE MODULE...............*/

.iti {
    width: 100%;
}

.custom-control-label:hover {
    cursor: pointer;
}

.img-64 {
    width: 64px !important;
    height: 64px !important;
}

.img-32 {
    width: 32px !important;
    height: 32px !important;
}

.max-width-50p {
    max-width: 50% !important;
}

.barcode-max-height {
    max-height: 100px !important;
}

.checkbox-label:hover {
    cursor: pointer !important;
}

.width_10p {
    width: 10% !important;
}

.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
    fill: #626ed4;
}

.dataTables_wrapper .dt-buttons a.dt-button {
    text-align: center;
    background-color: #607d8b;
    color: #fff;
    box-shadow: none;
    padding: 6px 8px;
    margin-right: 5px;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    border: 0;
    font-size: 13px;
    outline: 0;
    display: inline-block;
}

.ic_parent_permission {
    background-color: rgb(40, 170, 169, 0.23);
    color: #24aaa9;
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Datatable */
.dataTables_length {
    margin-left: 10px;
    padding-top: 0.5em;
}

.datepicker td,
.datepicker th {
    text-align: center;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    font-size: 10px !important;
}


.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}


.card-header {
    padding: .9375rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .02);
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

a {
    text-decoration: none !important
}

.header-elements-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

@media (min-width: 768px) {
    .wmin-md-400 {
        min-width: 400px !important
    }
}

.table-responsive {
    min-height: 600px;
}

.alert-success {
    background-color: #D4EDDA;
}